<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Policy Page</h1>
        <p>Here are the details for {{pid}}:</p>
        <table border="1px solid black">
            <tr>
                <th>PolicyID</th>
                <th>YearlyPremium</th>
                <th>TotalYears</th>
                <th>ProtectedSum</th>
                <th>CommisionRate</th>
            </tr>
            <tr>
                {% for itm in data %}
                <td>{{itm}}</td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>
