<!DOCTYPE html>

<head>
    <title>Form Page</title>
</head>

<body>
    <h1>Form Page</h1>
    <form action="{{ url_for('form') }}" method="POST">
        <p>
            Username:
            <input type="text" name="username">
        </p>
        <p>
            Email:
            <input type="email" name="email">
        </p>
        <p>
            Message:
            <textarea name="message" rows="3" col="50"></textarea>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>

</html>